<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8" />
  <head>
    <title>Rails 6 Devise Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
  body { 
    background: url(/assets/bg.jpg) no-repeat center center fixed; 
}
.content-container{
  width:80vw;
    margin-right: auto;
    margin-left : auto;
    background-color:red;
}

.navbar{
  margin-left: 10vw;
  margin-right: 10vw;
}
  </style>

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent border border-top-0 border-right-0 border-left-0 border-secondary mt-2 mb-2">
  <a class="navbar-brand" href="/"><img src="/assets/logo.png" width="155" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white mx-3" href="/">ホーム<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white mx-3" href="#">学習コース</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white mx-3" href="login">ログイン</a>
      </li>
    </ul>
  </div>
</nav>

  <body>
  <div class="content-container">
    <%= yield %>
  </body>
  </div>
</html>

